@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana";
}

body {
  background-color: #EFEEEC;
}

.banner {
  position: relative;
  background-image: url("/img/banner2.jpg");
  background-color: rgb(0, 0, 0);
  left: 0;
  top: 0;
  width: 100%;
  min-height: 200px;
  position: relative;
  background-size: cover;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Color del sombreado */
  background-color: rgba(0, 0, 0, 0.5);
  /* Puedes ajustar los valores RGB y el nivel de opacidad (alfa) según tus necesidades */
  /* Sombra */
  box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.9);
  /* Puedes ajustar el tamaño y el color de la sombra según tus necesidades */
}
.banner .container-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.banner .container-logo .logo {
  z-index: 1;
  max-height: 45%;
  max-width: 45%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner .top {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  /* Puedes ajustar los valores RGB y el nivel de opacidad (alfa) según tus necesidades */
  /* Sombra */
}
.banner .top .container-telefono {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner .top .container-telefono img {
  width: 60px;
  margin: 10px;
  transition: all ease 1s;
}
.banner .top .container-telefono img:hover {
  transform: translateY(-5px);
}
.banner .top .container-redes {
  display: flex;
  margin: 0 20px;
}
.banner .top .container-redes a img {
  flex-wrap: nowrap;
  width: 65px;
  margin: 5px;
  transition: all ease 1s;
}
.banner .top .container-redes a img:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 500px) {
  .banner .container-logo .logo {
    max-width: 100%;
  }
  .banner .top .container-telefono {
    margin: 0;
  }
  .banner .top .container-redes {
    margin: 0;
  }
}
.Cabecera {
  width: 100%;
  background-color: #FF0000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  color: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.Cabecera .dy-foto {
  width: 80px;
  padding: 10px;
  border-radius: 5%;
  transition: all ease 1s;
}
.Cabecera .dy-foto:hover {
  transform: translateY(-5px);
}
.Cabecera .Cabecera-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #FF0000;
}
.Cabecera .Cabecera-ul .Cabecera-li {
  margin: 0 0.5em;
  display: block;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  font-weight: bold;
  position: relative;
}
.Cabecera .Cabecera-ul .Cabecera-li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}
.Cabecera .Cabecera-ul .Cabecera-li:hover::after {
  transform: scaleX(1);
}
.Cabecera .Cabecera-button {
  display: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Cabecera .Cabecera-button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .Cabecera {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .Cabecera .containerBuscador {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Cabecera .containerBuscador .Cabecera-button {
    position: relative;
    display: flex;
    top: 0%;
    left: 2%;
  }
  .Cabecera .Cabecera-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .Cabecera .Cabecera-nav.isActive {
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 1;
  }
  .Cabecera .menuAbierto {
    position: relative;
    top: -3rem;
    z-index: 99;
  }
  .Cabecera .Cabecera-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .Cabecera .Cabecera-ul .Cabecera-li {
    width: 100%;
  }
  .Cabecera.Active {
    display: flex;
    flex-wrap: wrap;
  }
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: inset 0px 0px 10px 5px rgb(0, 0, 0);
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.container .container1 {
  background-image: url("/img/5.jpg");
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: none;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}
.container .container1 .texto1 {
  margin-bottom: 255px;
}
.container .container1 .texto1 h2 {
  font-size: 40px;
}
.container .container1 .texto1 p,
.container .container1 .texto1 h2 {
  color: white;
}
.container .container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .container3 .texto2 {
  margin: 20px;
  width: 100%;
  background-color: #ff0000;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
}
.container .container3 .texto2 #animated-heading {
  font-size: 3rem;
  opacity: 0; /* Mantenemos el texto oculto inicialmente */
}
.container .container3 .container-curso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 30px;
}
.container .container3 .container-curso .curso {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background: linear-gradient(to top, #ff0000, rgb(255, 255, 255));
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  height: 500px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}
.container .container3 .container-curso .curso #animated-heading {
  opacity: 0;
}
.container .container3 .container-curso .curso:hover {
  transform: translateY(-10px);
}
.container .container3 .container-curso .curso .black {
  color: #000000;
}
.container .container3 .container-curso .curso h3 {
  color: #000000;
}
.container .container3 .container-curso .curso img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ff0000;
  margin-bottom: 20px;
}
.container .container3 .container-curso .curso p {
  margin-bottom: 10px;
}
.container .container3 .texto3 p {
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.container .container4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  background-color: rgb(139, 137, 137);
  padding: 15px;
  height: 50vh;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.container .container4 img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}
.container .container4 .formulario-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-right: 150px;
}
.container .container4 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  height: 40vh;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
}
.container .container4 form h2 {
  margin-bottom: 1rem;
  color: #ff0000;
  font-size: 24px;
  text-transform: uppercase;
}
.container .container4 form .campo {
  margin-bottom: 1.5rem;
  width: 100%;
}
.container .container4 form .campo label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #000000;
}
.container .container4 form .campo input[type=text],
.container .container4 form .campo input[type=email],
.container .container4 form .campo textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 4px;
}
.container .container4 form .campo textarea {
  min-height: 100px;
}
.container .container4 form .buttonForm {
  padding: 0.5rem 1rem;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.container .container4 form .buttonForm:hover {
  background-color: #990000;
}
.container .texto3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #f2f2f2;
}
.container .container-carousel {
  width: 100%;
  max-height: 600px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
  margin-bottom: 30px;
}
.container .container-carousel .mySlides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container .container-carousel .mySlides img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .container-horario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}
.container .container-horario img {
  width: 100px;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.container .container-horario .horario {
  z-index: 1;
}
.container .container-horario .horario h2 {
  font-size: 3.5rem;
  color: #f2f2f2;
}
.container .container-horario .horario p {
  font-size: 20px;
  color: #f2f2f2;
}
.container .container-seguridad {
  height: 15vh;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.container .container-seguridad #animated-heading {
  opacity: 0; /* Mantenemos el texto oculto inicialmente */
}
.container .container-seguridad h2 {
  z-index: 1;
  font-size: 50px;
  color: white;
}
@media screen and (max-width: 650px) {
  .container .container-seguridad h2 {
    font-size: 1.6rem;
  }
}
.container .parallax {
  /* La imagen utilizada */
  background-image: url("/img/2.jpg");
  /* Crear el efecto de desplazamiento parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container .parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Color del sombreado */
  background-color: rgba(255, 0, 0, 0.5);
  /* Puedes ajustar los valores RGB y el nivel de opacidad (alfa) según tus necesidades */
  /* Sombra */
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.9);
  /* Puedes ajustar el tamaño y el color de la sombra según tus necesidades */
}
.container .parallax2 {
  background-image: url("/img/8.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container .parallax2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(48, 48, 48, 0.5);
  box-shadow: inset 0 0 20px rgba(48, 48, 48, 0.5);
}
.container .containerMsg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.container .msg {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container .msg p {
  color: #333333;
  font-size: 27px;
  line-height: 1.5;
  position: relative;
}
.container .msg p::before, .container .msg p::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: red;
}
.container .msg p::before {
  top: -5px;
}
.container .msg p::after {
  bottom: -5px;
}

@keyframes scrollUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 900px) {
  .container .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
  }
  .container .container2 .containerTitle {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .container .container-horario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container .container-horario img {
    width: 100px;
  }
  .container .container-horario .horario h2 {
    font-size: 2.5rem;
    color: #f2f2f2;
  }
  .container .container-horario .horario p {
    font-size: 20px;
    color: #f2f2f2;
  }
}
.container-answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}
.container-answers .imagen {
  width: 40%;
  margin-right: 20px;
}
.container-answers .imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-answers .container-questions {
  width: 60%;
  max-height: 500px;
  overflow-y: scroll;
}
.container-answers .container-questions::-webkit-scrollbar {
  width: 5px;
}
.container-answers .container-questions::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
.container-answers .question {
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-answers .question h1 {
  font-size: 18px;
  margin-bottom: 10px;
}
.container-answers .answer {
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.3s ease-out;
}
.container-answers .answer::-webkit-scrollbar {
  width: 5px;
}
.container-answers .answer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
@media screen and (max-width: 700px) {
  .container-answers {
    flex-direction: column;
  }
  .container-answers .imagen {
    margin-bottom: 30px;
  }
  .container-answers .container-questions {
    width: 95%;
  }
}

.question.active .answer {
  max-height: 500px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(49, 49, 49);
  color: #fff;
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
footer .container-logo {
  width: 100%;
  height: 100%;
  display: flex;
}
footer .container-logo img {
  width: 100%;
  max-width: 500px;
}
footer .container-mapa {
  width: 100%;
}
footer .container-mapa iframe {
  border-radius: 2%;
  width: 100%;
  height: 350px;
}
footer .container-datos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
  max-height: 800px;
}
footer .container-datos .logo {
  width: 100%;
  max-width: 450px;
}
footer .container-datos .redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
footer .container-datos .redes img {
  width: 50px;
}
footer .container-datos .redes p {
  margin: 0 10px;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer div {
    margin-bottom: 10px;
  }
  footer .container-redes {
    margin-bottom: 10px;
  }
}
@media (max-width: 425px) {
  footer .container-datos .redes p {
    font-size: 1rem;
  }
}

.container-vision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  margin: 30px;
}
.container-vision .container-vision2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  background-color: azure;
  border-radius: 2%;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}
.container-vision .container-vision2 img {
  flex: 0 0 auto;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
}
.container-vision .container-vision2 .vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  align-items: flex-start;
  border-radius: 2%;
  margin: 30px;
  padding: 14px;
}
.container-vision .container-vision2 .vision h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.container-vision .container-vision2 .vision p {
  font-size: 1.375rem;
  line-height: 1.5;
  margin-bottom: 0;
}
@media (max-width: 1050px) {
  .container-vision .container-vision2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-vision .container-vision2 .vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.enfoque {
  width: 100%;
  height: 100%;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 23px;
  color: white;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}
.enfoque .enfoque-texto {
  z-index: 1;
  width: 100%;
  max-width: 1000px;
}
@media screen and (max-width: 600px) {
  .enfoque .enfoque-texto h2 {
    font-size: 2rem;
  }
  .enfoque .enfoque-texto p {
    font-size: 1rem;
  }
}
.enfoque .enfoque-texto h2 {
  z-index: 1;
}
.enfoque .enfoque-texto p {
  z-index: 1;
}

@keyframes scrollUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.parallaxUs {
  /* La imagen utilizada */
  background-image: url("/img/6.jpg");
  /* Establecer una altura específica */
  height: 100%;
  max-height: 250px;
  /* Crear el efecto de desplazamiento parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parallaxUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Color del sombreado */
  background-color: rgba(255, 0, 0, 0.5);
  /* Puedes ajustar los valores RGB y el nivel de opacidad (alfa) según tus necesidades */
  /* Sombra */
  box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.9);
  /* Puedes ajustar el tamaño y el color de la sombra según tus necesidades */
}/*# sourceMappingURL=main.css.map */