.container-answers {
    @include properties-flex(row, center, center);
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;


    .imagen {
        width: 40%;
        margin-right: 20px;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }

    .container-questions {
        width: 60%;
        max-height: 500px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius: 10px;
        }
    }

    .question {
        cursor: pointer;
        margin-bottom: 20px;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h1 {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    .answer {
        max-height: 0;
        overflow-y: scroll;
        transition: max-height .3s ease-out;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius: 10px;
        }
    }

    @media screen and (max-width: 700px) {
        flex-direction: column;

        .imagen{
            margin-bottom: 30px;
        }

        .container-questions {
            width: 95%;
        }
    }
}

.question.active .answer {
    max-height: 500px;
}