.container-answers {
    @include properties-flex(column, center, center);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    gap: 20px;
    width: 100%;
    min-height: 75vh;

    h1 {
        font-size: 60px;
        font-weight: bold;
        color: red;
        margin-bottom: 50px;

        @media (max-width:400px) {
            font-size: 40px;
        }
    }
}

.container-questions {
    @include properties-flex(row, center, flex-start);
    width: 100%;
    gap: 50px;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    .preguntas-1,
    .preguntas-2 {
        @include properties-flex(column, center, center);
        width: 100%;
        max-width: 700px;
    }

    @media (max-width:900px) {
        @include properties-flex(column, center, flex-start);
        gap: 0;

        .preguntas-1,
        .preguntas-2 {
            max-width: fit-content;
        }
    }
}

.question {
    cursor: pointer;
    width: 100%;
    margin-bottom: 40px;

    .question-img {
        @include properties-flex(row, left, center);

        img {
            min-width: 25px;
            margin-right: 10px;
        }

        span {
            font-size: 25px;
            font-weight: 500;
        }
    }

    .answer {
        max-height: 0;
        overflow-y: scroll;
        text-align: justify;
        margin-left: 70px;
        font-size: 20px;
        width: 80%;
        margin-top: 10px;

        b {
            color: #E93237;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
        }
    }
}

.question.active .answer {
    max-height: 500px;
}