$background-color_2: #3b3b3b;

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;

    .container-video {
        position: relative;
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: 70vh;
        #video-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        
          .video-text {
            position: absolute;
            bottom: 10px;
            left: 300px;
            transform: translate(-50%, -50%);
            text-align: left;
            color: #fff;
            line-height: 1;

            & h1 {
                font-size: 90px;
                margin-bottom: 10px;
              }
              
              & p {
                font-size: 18px;
              }
          }

      }

    .container1 {
        background-image: url("/img/5.jpg");
        @include properties-flex(row, flex-end, center);
        width: 100%;
        height: 500px;
        background-size: cover;
        background-repeat: none;
        box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);

        .texto1 {
            margin-bottom: 255px;

            h2 {
                font-size: 40px;
            }

            p,
            h2 {
                color: white;
            }
        }
    }

    .container3 {
        @include properties-flex(column, center, center);
        width: 100%;

        .texto2 {
            #animated-heading {
                font-size: 3rem;
                opacity: 0;
                /* Mantenemos el texto oculto inicialmente */
            }

            margin: 20px;
            width: 100%;
            background-color: #ff0000;
            text-align: center;
            padding: 20px;
            font-size: 28px;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
            color: #fff;
            font-weight: bold;
        }

        .container-curso {
            @include properties-flex(row, center, center);
            flex-wrap: wrap;
            gap: 80px;
            margin-top: 30px;

            .curso {
                #animated-heading {
                    opacity: 0;
                }

                @include properties-flex(column, space-evenly, center);
                align-content: center;
                background: linear-gradient(to top, #ff0000, rgb(255, 255, 255));
                color: #fff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
                height: 500px;
                width: 300px;
                text-align: center;
                transition: transform 0.3s ease;

                &:hover {
                    transform: translateY(-10px);
                }

                .black {
                    color: #000000;
                }

                h3 {
                    color: #000000;
                }

                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 4px solid #ff0000;
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 10px;
                    color: #000000;
                }
            }

            .verde {
                background: #a8ff78;
                background: -webkit-linear-gradient(to bottom, #ffffff, #a8ff78);
                background: linear-gradient(to bottom, #ffffff, #59ff00);

                img {
                    border: 4px solid #15ff00;
                }
            }

            .amarillo {
                background: #fffc00;
                background: -webkit-linear-gradient(to bottom, #ffffff, #fffc00);
                background: linear-gradient(to bottom, #ffffff, #fffc00);

                img {
                    border: 4px solid #eeff00;
                }
            }
        }

        .texto3 {
            p {
                margin: 20px;
                padding: 10px;
                text-align: center;
                font-size: 18px;
            }
        }
    }

    .container4 {
        @include properties-flex(row, flex-end, center);
        flex-wrap: wrap;
        margin-bottom: 30px;
        background-color: rgb(139, 137, 137);
        padding: 15px;
        height: 80vh;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);

        img {
            width: 100%;
            max-width: 500px;
            height: 100%;
            object-fit: cover;
            box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
        }

        .formulario-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            z-index: 1;
            margin-right: 150px;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 350px;
                width: 100%;
                padding: 2rem;
                background-color: #ffffff;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgb(0, 0, 0);

                h2 {
                    margin-bottom: 1rem;
                    color: #ff0000;
                    font-size: 20px;
                    text-transform: uppercase;
                }

                .campo {
                    margin-bottom: 1.5rem;
                    width: 100%;

                    label {
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                        color: #000000;
                    }

                    input[type="text"],
                    input[type="email"],
                    textarea {
                        width: 100%;
                        padding: 0.5rem;
                        border: none;
                        border-bottom: 2px solid #000000;
                        border-radius: 0px;
                        transition: border-bottom-color .3s ease-in-out;

                        &:focus {
                            outline: none;
                            border-bottom-color: #ff0000;
                        }
                    }

                    textarea {
                        min-height: 100px;
                    }
                }

                .buttonForm {
                    padding: .5rem 1rem;
                    background-color: #ff0000;
                    color: white;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: #990000;
                        transform: scale(1.1);
                    }
                }
            }
            @media screen and (max-width: 768px) {
                margin: 0;
            }
        }
    }

    .texto3 {
        @include properties-flex(row, center, center);
        margin: 20px;
        background-color: #f2f2f2;
    }

    .container-carousel {
        width: 100%;
        max-height: 600px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
        margin-bottom: 30px;

        .mySlides {
            @include properties-flex(row, center, center);
            width: 100%;
            height: 100%;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }

    .container-horario {
        @include properties-flex(row,space-between, center);
        background-color: #cccccc;
        margin-bottom: 30px;
        padding: 30px;

        img {
            width: 25%;
            min-width: 100px;
            margin-left: 15px;
            z-index: 2;
            color: rgb(255, 255, 255);
        }

        .horario {
            z-index: 1;

            h2 {
                font-size: 3.5rem;
                color: #f2f2f2;
            }

            p {
                font-size: 20px;
                color: #f2f2f2;
            }
        }
    }

    .container-texto-foto{
        @include properties-flex(row, center, flex-end);
        width: 100%;
        .container-fondo{
            @include properties-flex(row, left, flex-end);
            background-image: url(/img/interior.jpg);
            width: 70%;
            height: 500px;
            background-size: cover;
            margin-bottom: 30px;
            position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor de transparencia según tus necesidades */
          }

        .texto1{
            margin-left: 50px;
            z-index: 1;
            color: #ffffff;
            text-align: left;
            width: 50%;
            margin-bottom: 50px;
            font-size: 30px;
        }
        }
    }

    .container-seguridad {
        height: 25vh;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); */
        text-align: center;

        #animated-heading {
            opacity: 0;
            /* Mantenemos el texto oculto inicialmente */
        }

        h2 {
            z-index: 1;
            font-size: 60px;
            color: white;

            @media screen and (max-width: 650px) {
                font-size: 1.6rem;
            }
        }

        h3 {
            z-index: 1;
            font-size: 30px;
            color: white;

            @media screen and (max-width: 650px) {
                font-size: 1.4rem;
            }
        }

        .p-atencion {
            width: 70%;
            z-index: 1;

            p {
                z-index: 1;
                font-size: 20px;
                color: white;

                @media screen and (max-width: 650px) {
                    font-size: 1.1rem;
                }
            }
        }

        @media screen and (max-width: 950px) {
            height: 25vh;
        }

        @media screen and (max-width: 400px) {
            height: 35vh;
        }
    }

    .parallax {
        /* La imagen utilizada */
        background-image: url("/img/coches.jpg");
        /* Crear el efecto de desplazamiento parallax */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* Color del sombreado */
            background-color: rgba(0, 0, 0, 0.377);
            /* Puedes ajustar los valores RGB y el nivel de opacidad (alfa) según tus necesidades */
            /* Sombra */
            /* box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.9); */
            /* Puedes ajustar el tamaño y el color de la sombra según tus necesidades */
        }
    }

    .parallax2 {
        background-image: url("/img/8.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(48, 48, 48, 0.5);
            box-shadow: inset 0 0 20px rgba(48, 48, 48, 0.5);
        }
    }

    .containerMsg {
        @include properties-flex(row, center, center);
        margin-bottom: 30px;
        background-color: #f2f2f2;
/*         box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); */
    }

    .msg {
        padding: 20px;
        background-color: #cccccc;
/*         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        text-align: center;

        p {
            color: #000000;
            font-size: 27px;
            line-height: 1.5;
            position: relative;

            /* &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 1px;
                background-color: red;
            }

            &::before {
                top: -5px;
            }

            &::after {
                bottom: -5px;
            } */
        }

        .red{
             color: #990000 !important;;   
        }
    }

    .whatsapp-container {
        position: fixed;
        bottom: 253px;
        right: 20px;
        @include properties-flex(row, center, center);
        padding: 10px;
        border-radius: 25px;
        transition: background-image .5s ease-in-out;
        z-index: 99;

        img {
            width: 90px;
            height: 90px;
            margin-left: 10px;
            transition: background-image .3s ease-in-out;
            cursor: pointer;
        }

        /* span {
            transition: transform .5s ease-in-out, opacity .5s ease-in-out;
            transform: translateX(-100px);
            opacity: 0;
            white-space: nowrap;
            color: white;
        }

        &.hover {
            background-image: linear-gradient(to right, #6A354B, #E93237, #5E2E41);

            span {
                transform: translateX(0);
                opacity: 1;
            }
        } */
    }
}

@keyframes scrollUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .container {
        .container2 {
            @include properties-flex(column, center, center);
            align-items: center;

            .containerTitle {
                width: 80%;
            }
        }
    }
}

@media (max-width: 400px) {
    .container {
        .container-horario {
            @include properties-flex(row, center, center);

            img {
                width: 100px;
            }

            .horario {
                h2 {
                    font-size: 2.5rem;
                    color: #f2f2f2;
                }

                p {
                    font-size: 20px;
                    color: #f2f2f2;
                }
            }
        }
    }
}