.banner {
  position: relative;
  background-image: url("/img/banner2.jpg");
  background-color: rgb(49, 49, 49);
  left: 0;
  top: 0;
  width: 100%;
  min-height: 200px;
  position: relative;
  background-size: cover;
  background-repeat: none;
  @include properties-flex(column, center, none);
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Color del sombreado */
    background-color: rgba(255, 0, 0, 0.5);
    /* Puedes ajustar los valores RGB y el nivel de opacidad (alfa) según tus necesidades */
    /* Sombra */
    box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.9);
    /* Puedes ajustar el tamaño y el color de la sombra según tus necesidades */
}

  .container-logo {
    @include properties-flex(row, center, center);
    .logo {
      z-index: 1;
      max-height: 45%;
      max-width: 45%;
      object-fit: contain;
    }
  }

  .top {
    z-index: 1;
    @include properties-flex(row, space-between, center);
    color: white;
    background-color: rgba(0, 0, 0, 0.192);

    .container-telefono {
      margin: 0 10px;
      @include properties-flex(row, center, center);

      img {
        width: 50px;
        margin: 10px;
        transition: all ease 1s;

        &:hover {
          transform: translateY(-5px);
        }
      }
    }

    .container-redes {
      display: flex;
      margin: 0 10px;

      a {
        img {
          flex-wrap: nowrap;
          width: 50px;
          margin: 5px;
          transition: all ease 1s;

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .banner {
    .container-logo {
      .logo {
        max-width: 100%;
      }
    }

    .top {
      .container-telefono {
        margin: 0;
      }

      .container-redes {
        margin: 0;
      }
    }
  }
}