@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

$color_1: #fff;
$color_2: #333;
$background-color_1: #000000;
$background-color_2: #3b3b3b;
$background-color_3: #fff;

.Cabecera {
    width: 100%;
    background-color: $background-color_2;
    @include properties-flex(row, space-between, center);
    height: 25%;
    color: $color_1;

    .dy-foto {
        width: 100%;
        max-width: 250px;
        margin: 15px;
        transition: all ease 1s;

        &:hover {
            transform: translateY(-5px);
        }
    }

    .containerBuscador {
        @include properties-flex(row, center, center);

        .subcontainerBuscador {
            @include properties-flex(row, center, center);
            flex-wrap: nowrap;
        }

        .nav-redes {
            @include properties-flex(row, center, center);

            img {
                width: 100%;
                max-width: 2.5vw;
                min-width: 35px;
                margin: 5px;
            }

            @media (max-width:415px) {
                position: relative;
                @include properties-flex(row, space-between, center);
            }
        }
    }

    .Cabecera-ul {
        @include properties-flex(row, center, center);
        list-style: none;
        background-color: $background-color_2;

        .Cabecera-li {
            margin: 0 0.3vw;
            display: block;
            color: $color_1;
            padding: 0.5rem 1rem;
            text-align: center;
            text-decoration: none;
            font-size: clamp(14px, 2vw, 18.5px);
            font-weight: bold;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: rgb(255, 0, 0);
                transform: scaleX(0);
                transform-origin: center;
                transition: transform 0.3s ease;
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }

    .Cabecera-button {
        display: none;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 24px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:focus {
            outline: none;
        }

        @media screen and (max-width:768px) {
            position: relative;
            display: flex;
            z-index: 99;
            left: 3%;
        }

        @media (max-width: 435px) {
            left: 7%;
        }

        @media (max-width:415px) {
            left: 5px;
            top: 4px;
        }
    }
}

@media screen and (max-width:768px) {
    .Cabecera {
        @include properties-flex(column, space-between, center);

        .containerBuscador {
            width: 100%;
            @include properties-flex(row, space-between, center);

            @media (max-width:415px) {
                @include properties-flex(column, space-between, center);
            }

            .Cabecera-button {
                position: relative;
                display: flex;
                z-index: 99;

                @media (max-width:415px) {
                    left: 5px;
                    bottom: 10px;
                }
            }
        }

        .Cabecera-nav {
            @include properties-flex(row, center, center);
            width: 100%;
            height: 0vh;
            opacity: 0;
            overflow: hidden;
            transition: all .5s ease;
        }

        .Cabecera-nav.isActive {
            position: relative;
            height: fit-content;
            opacity: 1;
        }

        .Cabecera-ul {
            @include properties-flex(column, center, center);
            width: 100%;

            .Cabecera-li {
                width: 100%;
                padding: 10px;
            }
        }
    }

    .Cabecera.Active {
        display: flex;
        flex-wrap: wrap;
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: inset 0px 0px 10px 5px rgb(0, 0, 0);
}