.container-vision {
    @include properties-flex(row, center, center);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;

    .container-vision2 {
        @include properties-flex(row, center, center);
        width: fit-content;
        background-color: azure;
        border-radius: 2%;
        box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);

        img {
            flex: 0 0 auto;
            width: 100%;
            max-width: 500px;
            border-radius: 5px;
            margin: 30px;
            padding: 10px;
        }

        .vision {
            @include properties-flex(column, center, center);
            width: 100%;
            max-width: 600px;
            align-items: flex-start;
            border-radius: 2%;
            margin: 30px;
            padding: 14px;

            h2 {
                font-size: 2.5rem;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.375rem;
                line-height: 1.5;
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 1050px) {
        .container-vision2 {
            @include properties-flex(column, center, center);

            .vision {
                @include properties-flex(column, center, center);
                text-align: center;
            }
        }
    }
}

.enfoque {
    width: 100%;
    height: 100%;
    max-height: 20vh;
    @include properties-flex(column, center, center);
    text-align: center;
    font-size: 23px;
    color: white;

    .enfoque-texto {
        z-index: 1;
        width: 100%;
        max-width: 1000px;
        @media screen and (max-width: 600px) {
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }
        }

        h2 {
            z-index: 1;
        }

        p {
            z-index: 1;
        }
    }
}

.parallaxUs {
    /* La imagen utilizada */
    background-image: url("/img/6.jpg");
    /* Establecer una altura específica */
    height: 100%;
    max-height: 250px;
    /* Crear el efecto de desplazamiento parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* Color del sombreado */
        background-color: rgba(255, 0, 0, 0.5);
        /* Puedes ajustar los valores RGB y el nivel de opacidad (alfa) según tus necesidades */
        /* Sombra */
        box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.9);
        /* Puedes ajustar el tamaño y el color de la sombra según tus necesidades */
    }
}